footer {
  padding-top: 20px;
  padding-bottom: 5px;
  background: #ce0033;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.logofooter {
  max-width: 300px;
  margin: 50px auto;
}
.menuFoot {
  padding: 13px 67px;
}
