#containerHeader {
  background-color: rgb(190, 114, 114);
}
#un {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
#deux {
  overflow: hidden;
  display: flex;

  height: 80vh;
  width: 100%;
  background-color: red;
  justify-content: space-between;
  z-index: -1;
}
#logoSimplon {
  max-width: 220px;
  margin-left: 6rem;
}
#deuxUn {
  padding-left: 5%;
  text-align: center;
  background-color: #ce0033;
  height: 100%;
  width: 80%;
  z-index: 2;
}
#deuxUn p {
  color: white;
  text-align: left;
  background-color: rgba(136, 127, 255, 0);
}
#deuxDeux {
  background-color: rgb(255, 127, 223);
  height: 100%;

  z-index: 1;
}
#PhotoSimplon {
  z-index: -1;
  height: 100%;
}
h2 {
  color: white;
  text-align: left;
  font-size: 250%;
}
#btnHeader {
  left: -30%;
  position: relative;
  height: 50px;
  width: 150px;

  margin-top: 50px;
  padding: 1px;
  text-align: center;
  width: 200px;
  background: white;
  color: #ce0033;
}
