#containerMap {
  height: 60vh;
  width: 50vw;
  background-color: rgb(69, 154, 211);
}
.leaflet-container {
  position: relative;

  width: 50vw;
  height: 60vh;
}
.container {
  margin-top: 2%;
  width: 100%;
  display: flex;
}
#mapRight {
  display: flex;
  align-items: center;
  background-color: hsl(206deg 33% 96%);
  margin: 0rem;
  width: 50vw;
  border-top: 10px solid #ce0033;
}
p {
  width: 100%;
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daysPanel {
  display: none;
}
